[submodule "external/gt4py"]
	path = external/gt4py
	url = https://github.com/GridTools/gt4py.git
[submodule "external/dace"]
	path = external/dace
	url = https://github.com/spcl/dace.git

[submodule "external/FMS"]
	path = external/FMS
	url = https://github.com/NOAA-GFDL/FMS.git
