name: "NDSL unit tests"
on:
  pull_request:

# cancel running jobs if theres a newer push
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ndsl_unit_tests:
    strategy:
      matrix:
        extras: ["test", "test,zarr"]
      fail-fast: false # don't cancel on job if the other one is failing
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/noaa-gfdl/miniforge:mpich
    steps:

        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            submodules: 'recursive'

        - name: Install Python packages
          run: pip3 install .[${{ matrix.extras }}]

        - name: prepare input eta files
          run: python tests/grid/generate_eta_files.py

        - name: Run serial-cpu tests
          run: coverage run --rcfile=setup.cfg -m pytest tests

        - name: Run parallel-cpu tests
          run: mpiexec -np 6 --oversubscribe coverage run --rcfile=setup.cfg -m mpi4py -m pytest tests/mpi

        - name: Output code coverage
          run: |
            coverage combine
            coverage report
